
:root {
  --primary-color: #00605f;
  --secondary-color: #017479;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  
}
 video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
 }
.container {
  position: relative;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo img {
  max-width: 120px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
}
.link a:hover {
    color:black;
}
.link_active a{
  text-decoration: none;
  font-weight: 600;
  color: #0f172a;
}
.search {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  outline: none;
  border: none;
}

.search input::placeholder {
  color: var(--secondary-color);
}

.search span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--secondary-color);
}

.login span {
  padding: 5px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.destination__container {
  position: relative;
  padding: 5rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}
.socials {
  position: absolute;
  top: 38rem;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.socials span:hover{
  color: black;
}

.socials::after {
  position: absolute;
  content: "";
  top: -22rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: var(--white);
}

.socials span {
  font-size: 2rem;
  color: var(--white);
}
.content{
  margin: 0 100px;
}
.content h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--white);
}

.content h1 span {
  -webkit-text-stroke: 2px var(--white);
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--white);
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.btn:hover{
  background-color: black;
  transition: 500ms;
}

.rooms 
{ 
    padding: 50px 15%;
    background: linear-gradient(
      to right,
      rgba(2, 82, 89, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("travel.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title
{
    font-size: 35px;
}

.rooms-area 
{
    width: 100%;
    padding: 20px 0px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    row-gap: 30px;
}
.room{
    width: 30%;
    background-color: white;
    border-radius: 20px;
}

.room-img 
{
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.room-image
{   
    height: 200px;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.room-image:hover 
{
    transform: scale(1.5);
}

.room-details
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
.btn_2{
  height: 30px;
  width: 40%;
  transition: 500ms;
}
.btn_2:hover{
  background-color:#00605f;
  color: wheat;
}




.contact-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.left-col {
  width: 45vw;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10rem;
  padding: 1.5rem;
}

.right-col {
  background: var(--bg-color);
  width: 50vw;
  height: 100vh;
  padding: 5rem 3.5rem;
}
.contact_us{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color:var(--h1-color);
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}
.contact_us_para{
  color: var(--secondary-color);
  font-size: 0.9rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}
label,.description {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.625rem;
}

form {
  width: 31.25rem;
  position: relative;
  margin-top: 2rem;
  padding: 1rem 0;
}

.input_footer, textarea, label {
  width: 40vw;
  display: block;
}
placeholder, .input_footer, textarea {
  font-family: sans-serif;
}

.input_footer::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

.input_footer, textarea {
  color: var(--primary-color);
  font-weight: 500;
  background: var(--bg-color);
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

.send_btn{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 300;
  background:black ;
  color: white;
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.input_footer:hover, textarea:hover, .send_btn:hover {
  opacity: 0.5;
}

.send_btn:active {
  opacity: 0.8;
}
.description {
    margin-left: 1.25rem;
  }
.input_footer:checked  {
  background-color: var(--button-color);
}

.input_footer:checked{
  transform: translateX(26px);
}
#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Jost';
  color: var(--secondary-color);
  }


  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 950px) {
  .logo {
    width: 8rem;
  }
  .contact_us {
    font-size: 1.75rem;
  }
  .contact_us_para {
    font-size: 0.7rem;
  }
  .input_footer, textarea, .send_btn {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  .send_btn {
    width: 7rem;
  }
}



@media (width < 1200px) {
  .search {
    max-width: 235px;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .content h1 {
    font-size: 4rem;
  }
}

@media (width < 600px) {
  .search {
    display: none;
  }
  .content h1 {
    font-size: 3rem;
  }
}
